<div class="container">
    <div class="z-depth-2">
        <div class="card" id="outerCard">
            <div class="card-body">
                <div class="z-depth-2 primary-color-bg" id="innerCard">
                    <h1 class="text-white">Register</h1>
                </div>
                <p *ngIf="!passwordsMatch" class="text-center">Passwords did not match</p>
                <form (ngSubmit)="onRegister()" class="register-form">
                    <div id="usernameTaken">
                        <p *ngIf="usernameTaken" id="usernameTaken" class="text-center red-text">{{errorMessage}}</p>
                    </div>
                    <div class="md-form">
                        <input mdbInputDirective [mdbValidate]="false" class="form-control" type="text" id="username" [(ngModel)]="username" name="username">
                        <label for="username">Username</label>
                    </div>
                    <div class="md-form">
                        <input mdbInputDirective [mdbValidate]="false" class="form-control" type="text" id="email" [(ngModel)]="email" name="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="md-form">
                        <input mdbInputDirective [mdbValidate]="false" class="form-control" type="password" id="password" [(ngModel)]="password" name="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="md-form">
                        <input mdbInputDirective [mdbValidate]="false" class="form-control" type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword">
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
            
                    <button class="btn primary-color-bg waves-light" type="submit" mdbWavesEffect>Register</button>
                    <button class="btn blue-grey lighten-2 waves-light" routerLink="/login" mdbWavesEffect>Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer fixed-bottom font-small primary-color-bg">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://github.com/RyanRacicot" target="_blank"> Ryan Racicot</a>
    </div>
  </footer>