<div class="container container-fluid">
  <h1>Unauthorized!</h1>
  <p>You must login or register to view protected content</p><br>
  <button routerLink="/login" class="btn">Login</button> 
  or 
  <button routerLink="/register" class="btn">Register</button>
</div>
<footer class="page-footer fixed-bottom font-small primary-color-bg">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/RyanRacicot" target="_blank"> Ryan Racicot</a>
  </div>
</footer>Unauthorized!</h1>
  <p>You must login or register to view protected content</p><br>
  <button routerLink="/login" class="btn">Login</button> 
  or 
  <button routerLink="/register" class="btn">Register</button>
</div>
<footer class="page-footer fixed-bottom font-small primary-color-bg">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/RyanRacicot" target="_blank"> Ryan Racicot</a>
  </div>
</footer>
